body{
  background-color: rgb(232, 240, 247);
}


.name{
  background-color: #333;
      color: white;
      padding: 20px;
      text-align: center;
}
nav a {
      color: white;
      margin: 0 15px;
      text-decoration: none;
    }
h1{
  margin-left: 100px;
  margin-top: 100px;
}
img{
  width: 400px;
  height: 450px;
  margin-left: 300px;
}
h2{
  text-align: center;
  font-size:45px ;
}
h3{
  margin-left: 50px;
}
p{
  margin-left: 30px;
  text-align: center;
}
.about{
  background-color: azure;
  margin-top: 100px;
  margin-right: 300px;
  margin-left: 300px;
}
.work_image{
  width:350px ;
  height:300px;
  margin-left: 10px;

}
.work_name{
  font-size: 50px;
  margin-right: 1000px;
}
.work1{
  background-color: rgb(213, 217, 222);
  margin-top: 150px;
  margin-right: 300px;
  margin-left: 00px;
}
.skill3{
  text-align: center;
  font-size: 50px;
  color: rgb(0, 0, 0);
}
.skill1{
  background-color: rgb(246, 246, 241);
  margin-left: 350px;
  margin-right: 350px;
  margin-top: 150px;
}
input, textarea {
      padding: 10px;
      width: 80%;
      margin: 10px 0;
}
.Education1{
  background-color: azure;
  margin-right: 300px;
  margin-left: 300px;
}
.Education3{
  font-size: 30px;
  text-align: center;
}
.contact{
  background-color: aliceblue;
}
footer {
      text-align: center;
      background-color: #333;
      color: white;
      padding: 10px;
    }
    button {
      padding: 10px 20px;
      background: #007bff;
      color: white;
      border: none;
      cursor: pointer;
    }
    button:hover {
      background: #0056b3;
    }
    .work4{
      display: flex;
    }

